*.rej
*.orig
*~
/*.patch

*.d
*.o
*.o[ls]

/src/liburing.a
/src/liburing.so*
/src/include/liburing/compat.h

/examples/io_uring-cp
/examples/io_uring-test
/examples/io_uring-udp
/examples/link-cp
/examples/ucontext-cp
/examples/poll-bench
/examples/send-zerocopy

/test/*.t
/test/*.dmesg
/test/output/

config-host.h
config-host.mak
config.log

liburing.pc

cscope.out
