*.rej
*.orig
*~
/*.patch

*.o
*.o[ls]

/src/liburing.a
/src/liburing.so*

/examples/io_uring-cp
/examples/io_uring-test
/examples/link-cp
/examples/ucontext-cp

/test/232c93d07b74-test
/test/35fa71a030ca-test
/test/500f9fbadef8-test
/test/7ad0e4b2f83c-test
/test/8a9973408177-test
/test/917257daa0fe-test
/test/a0908ae19763-test
/test/a4c0b3decb33-test
/test/accept
/test/accept-link
/test/accept-test
/test/b19062a56726-test
/test/b5837bd5311d-test
/test/connect
/test/cq-full
/test/cq-overflow
/test/cq-peek-batch
/test/cq-ready
/test/cq-size
/test/d77a67ed5f27-test
/test/defer
/test/eeed8b54e0df-test
/test/fc2a85cb02ef-test
/test/file-register
/test/fixed-link
/test/fsync
/test/io_uring_enter
/test/io_uring_register
/test/io_uring_setup
/test/io-cancel
/test/link
/test/link-timeout
/test/link_drain
/test/nop
/test/poll
/test/poll-cancel
/test/poll-cancel-ton
/test/poll-link
/test/poll-many
/test/read-write
/test/ring-leak
/test/send_recvmsg
/test/socket-rw
/test/sq-full
/test/sq-space_left
/test/stdout
/test/submit-reuse
/test/teardowns
/test/timeout
/test/timeout-overflow

config-host.h
config-host.mak
config.log

liburing.pc
